<div id="container">
	<div id="hidden-value"></div>
	<h1 id="start-scaffold" tabindex="0">
		<span class="start button large success" id="start-btn"></span>
		<!-- <span class="start button large success" id="start-btn"></span> -->
	</h1>
</div>